// conversations view
.conversation-options
.conversation-header(ng-if='(provider.messenger | search).length > 0') messenger
  .login fb@wvffle.net
.conversation-item(ng-repeat='contact in provider.messenger | search')
.conversation-header(ng-if='(provider.steam | search).length > 0') steam
  .login casper@wvffle.net
.conversation-item(ng-repeat='contact in provider.steam | search')
