// conversations view
.conversation-options
.conversation-nores
.conversation-header(ng-repeat-start='provider in providers' ng-if='(provider.contacts | search).length > 0' context-menu='provider') {{ provider.name }}
  .login {{ provider.login }}
.conversation-item(ng-repeat-end ng-repeat='contact in provider.contacts | search')
