// conversations view
.conversation-search
.conversation-header messenger
  .login casper@wvffle.net
.conversation-item
.conversation-item
.conversation-item
.conversation-item
.conversation-header steam
  .login casper@wvffle.net
.conversation-item
.conversation-item
.conversation-item
.conversation-item
//.hat
