// conversation-item view
.info
  .icon(ng-style='{ backgroundImage: "url(" + (item.logo) + ")", backgroundColor: item.color }')
    .status(ng-if='item.status != null')
  .name {{ item.visibleName || item.name }}
    .desc {{ item.desc }}
