{
    "extends": "airbnb-base",
    "installedESLint": true,
    "plugins": [
        "import"
    ],
    "rules": {
      "one-var": ["error", "always"],
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
    }
}
