{
    "extends": "airbnb-base",
    "installedESLint": true,
    "plugins": [
      "import"
    ],
    "env": {
      "browser": true,
      "node": true,
    },
    "globals": {
      "Vue": true,
      "template": true
    },
    "rules": {
      "global-require": ["error", "never"],
      "one-var": ["error", "never"],
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
    }
}
