dim = {
  sidebar: {
    width: 230px,
    toolbar: {
      height: 60px,
    },
    ap: {
      height: 46px,
    },
  },
  nav: {
    height: 60px,
    logo: {
      size: 46px,
    },
  },
  scrollbar: 15px,
}
