// index template
doctype html
html
  head
    != css()
    != js_bower()
    != css_bower()
    script(src='app/module.js')
    meta(charset='utf-8')
    link(rel='icon', type='image/svg', href='assets/favicon.png')
    title arrchat
  body(ng-app='arrchat')
    .header
    .conversations
    .main
    .context
