doctype html
html
  head
    title arrchat &mdash; Chat with your meowest friends :3
    meta(charset='utf-8')
    meta(name='description', content='Arrchat is a tool to chat with your meowest friends without having milions of programs opened!')
    link(rel='icon', type='image/png', href='assets/images/favicon.png')
    link(rel='stylesheet', href='assets/style/style.css')
  body
    .main-view
    script(src='assets/js/arrchat.js')
