@import 'dimensions'
@import 'position'
@import 'theme'
@import 'flex'

// profiles view
.profiles
  absolute 0
  background #fff
  flex center center column
  z-index 3

  .header
    absolute 0 0 _
    border 0
    
    .logo
      border 0

    .right
      display none

  .profile
    border-bottom: 1px solid theme.gray
    padding: dimensions.section.small-pad
    relative _

    &:hover
      background: theme.gray
      cursor pointer

    &-container
      width: dimensions.page.profiles.container.width

      .actions
        flex space-around

        .action
          font-size 1.2em
          img
            border-radius 50%
            box-shadow 0 2px 3px -1px transparent
            display block
            margin: dimensions.section.small-pad auto
            padding: dimensions.section.small-pad
            transition box-shadow .25s ease

          &:hover
            cursor pointer
            img
              box-shadow: 0 2px 3px -1px theme.text-visible

    &-list
      display block
      font-size 1.2em
      max-height: dimensions.page.profiles.container.width
      padding: dimensions.section.padding * 2
      .name
        color: theme.text-visible
        .desc
          color: theme.text
          font-size 0.8em
      .type
        absolute: 0, dimensions.section.small-pad, 0, _
        color: theme.text
        flex _ center

    &-info
      color: theme.text
  .cat
    absolute _ 0 0 _
    max-height 30vw
