// nav view
@import 'colors'
@import 'dimensions'

nav_height = dim.nav.height

.nav
  height nav_height
  border-bottom: 1px solid colors.support
  display flex
  align-items center
  margin: - nav_height 0 0

  @import 'logo'
  @import 'menu'
