@import 'theme'

// input style
::-webkit-input-placeholder
  color: theme.text
  opacity 1
:-moz-placeholder
  color: theme.text
  opacity 1
::-moz-placeholder
  color: theme.text
  opacity 1
:-ms-input-placeholder
  color: theme.text
  opacity 1
::placeholder
  color: theme.text
  opacity 1
