@import 'dimensions'
@import 'position'
@import 'theme'

// context view
.context
  absolute _
  background #fff
  border-radius 3px
  box-shadow: 0 -1px 4px -2px theme.gray, 0 2px 3px 1px theme.text
  min-width: dimensions.page.context.min-width
  padding: dimensions.section.small-pad 0
  z-index 1111

  &-header
    border-bottom: 1px solid theme.gray
    color: theme.text-visible
    padding: dimensions.section.small-pad dimensions.section.padding
    text-align right
    text-transform uppercase

    .desc
      color: theme.text
      text-transform none

  &-item
    border-bottom: 1px solid theme.gray
    color: theme.text-visible
    font-size 1.2em
    padding: dimensions.section.small-pad dimensions.section.padding

    &:last-child
      border 0

    &:hover
      background: theme.gray
      cursor pointer
