@import 'colors'
@import 'dimensions'

// sidebar view
.sidebar
  width: dim.sidebar.width
  height 100%
  border-right: 1px solid colors.support
  float left
  position relative
  padding: 0 0 dim.sidebar.toolbar.height
