// available-providers view
.available-providers
  .provider
    img(src='https://rawgit.com/gilbarbara/logos/master/logos/discord.svg')
  .provider
    img(src='https://rawgit.com/gilbarbara/logos/master/logos/skype.svg')
  .provider
    img(src='https://rawgit.com/gilbarbara/logos/master/logos/steam.svg')
  .provider
    img(src='https://rawgit.com/gilbarbara/logos/master/logos/facebook.svg')
  .provider
    img(src='https://rawgit.com/gilbarbara/logos/master/logos/slack.svg')
