@import 'theme'
@import 'dimensions'
@import 'position'

// message-input view
.message-input
  border-top: 1px solid theme.gray
  border-right: 1px solid theme.gray
  height: dimensions.page.conversations.search
  background #fff
  fixed _ _ 0
  z-index 3
  width: s('calc(100vw - %s)', dimensions.page.conversations.width)
  input
    padding: dimensions.section.padding
    color: theme.text-visible
    width 100%
    border 0
    background #fff
