@import 'theme'
@import 'dimensions'
@import 'position'

// message-input view
.message-input
  background #fff
  border-right: 1px solid theme.gray
  border-top: 1px solid theme.gray
  fixed _ _ 0
  height: dimensions.page.conversations.search
  width: s('calc(100vw - %s)', dimensions.page.conversations.width)
  z-index 3

  input
    background #fff
    border 0
    color: theme.text-visible
    padding: dimensions.section.padding
    width 100%
