@import 'dimensions'

// main view
.main
  height: s('calc(100vh - %s)', dimensions.header.height, dimensions.page.conversations.search)
  width: s('calc(100vw - %s)', dimensions.page.conversations.width)
