@import 'colors'
@import 'dimensions'

.menu
  margin 0 0 0 auto
  padding: 0 17px
  display flex
  height 100%

  a
    line-height: dim.nav.height
    color: colors.base
    text-decoration none
    padding 0 7px
    display block
    height 100%
    font-size 1.2rem
    cursor pointer
