// header view
@import 'theme'

height = 60px
padding = 7px

.header
  color base
  height 60px
  border-bottom 1px solid #4d4d4d33
  .logo
    font-weight 900
    font-size 3em
    line-height height - padding * 2
    margin padding 0
    img
      size height - padding * 2
      margin 0 padding 0 0
      float left
