// dimensions style
dimensions = {
  header: {
    height: 60px,
    width: 100vw,
    padding: 7px,
    icon: {
      size: 30px
    }
  },
  page: {
    conversations: {
      width: 230px,
      icon: {
        size: 48px,
        status: {
          size: 21px,
          border: 3px
        }
      },
      search: 52px
    }
  },
  section: {
    padding: 17px,
    small-pad: 7px
  }
}
