flex(justify = null, align = null, direction = null)
  display flex
  if justify != null && justify != _
    justify-content justify
  if align != null && align != _
    align-items align
  if direction!= null && direction != _
    flex-direction direction
